{{>header}}
{{>rol}}
<ul>
  <li><a href="/crearcurso">Crear curso</a></li>
  <li><a href="/mostrarcursos">Ver cursos</a></li>
  <li><a href="/mostrarinscritos">Ver inscritos</a></li>
  <li><a href="/mostrarusuarios">Ver usuarios</a></li>
</ul>
<br></br>
{{>footer}}